.home{
    background-image: url(../../assets/logoc.jpg); 
    background-repeat:no-repeat;
    /*width: inherit;*/
    height: 630px;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*background-attachment: scroll;*/
    background-position: center;
    margin-bottom: 0;
    width: 100%;
    /*height: auto;*/
    padding: 100px 100px;
    background-position: center;
    
}
.tex{
    margin: auto; 
    width: 50%;
    position: relative;
    padding: 10px;
    
}

