.bbtn{
    border-radius: 52px;
    background-color: #FF6F00;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.bbtn1{
  border-radius: 52px;
  background-color: #67beb3;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
}

.home{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/logoc.jpg);
    background-size: cover;
    opacity: 0.90;
    background-attachment: fixed;
}

.home::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
    
    
}

.hometextcontainer
{
  position: relative;
  color: #ffffff;  
  line-height: 0.9;
  text-align: center;
  padding-bottom: 250px;
  font-size: 18px;
}
.hometextcontainer h1{
  font-weight: bolder;
  font-size: 48px;
}

.aboutus{
  position: 'relative';
  max-width: 100%;
}

.godownbutton{
  color: white ;
  position: relative;
  
}