.active-card-image{
    z-index: 0;
    
    max-width: 95%;
}

.active-club-detail {
    z-index: 3;
    max-width: 95%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}


.active-club-detail:hover {
    -webkit-transform: translate(0,15px);
    -moz-transform: translate(0,15px);
    -o-transform: translate(0,15px);
    -ms-transform: translate(0,15px);
    transform: translate(0,15px);
}