.navbartop{
    background-image: linear-gradient(to top, white,white);
}
.CultHeader{
    background-color: white !important;
}
@media (max-width: 770px) {
    .navbarCult:not(.top-nav-collapse) {
      background-color: #880e4f !important;
    }
}
@media (min-width: 0px) {
    :is(.CultHeader) CultRecents .navbar.navbar-dark .navbar-nav{
        color: #8a003e !important;
    }
}