.navbartop{
    background-image: linear-gradient(to top, white,white);
}
.CultHeader{
    background-color: white !important;
}
@media (max-width: 770px) {
    .navbarTech:not(.top-nav-collapse) {
      background-color: white !important;
    }
}