.techclubInfo :hover
{
  z-index:555555 !important;
}

.techclubcard_dets {
  height:250px;
  width:250px;
  background-color:'yellow';
  z-index: 0;
  position: relative;
}


.background-element {
  -webkit-transform: translateZ(-999px) scale(2);
  transform: translateZ(-999px) scale(2);
  /* z-index: 3; */
}