.bbtn{
    border-radius: 52px;
    background-color: #FF6F00;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.bbtn1{
  border-radius: 52px;
  background-color: #67beb3;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
}

.lowerleft {
  width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
}

.homeTech{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.90;
    background-attachment: fixed; 
}

.homeTech::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);   
}

.homeTechtextcontainer
{
  position: relative;
  color: #ffffff;  
  text-align: center;
  margin: auto;
  /* padding-bottom: 250px; */
  font-size: 18px; 
}

.homeTechtextcontainer h1{
  font-weight: bolder;
  margin:auto;
  color: #ffffff;  
  font-size: 48px;
  text-align: center;
}

.aboutus{
  position: 'relative';
  max-width: 100%;
}

.godownbutton{
  color: white ;
  position: relative;
  
}

.fade-appear {
  opacity: 0;
  transform: translateY(-80%)
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 900ms, transform 900ms;
}