a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

a.social:hover {
  transform: translateY(-5px);
}

a.youtube {
    color: #eb3223;
  }

  a.facebook {
    color: #4968ad;
  }

  a.twitter {
    color: #49a1eb;
  }

  a.instagram {
    color: black;
  }

  .Card{
    position: absolute;
    background-color: white;
  }

  .Card:hover{
    background-color: #FF6F00;
    opacity: 0.85;
    color: white;
    transition: 0.3s;
    transform: scale(1.10);

  }

  .cardBody{
    position: absolute;
    animation-name: popUp;
    animation-duration: 0.5s;

  }

  .cardImage{
    position: absolute;
    animation-name: popUp;
    animation-duration: 0.5s;
  }

  @keyframes popUp {
    0%{}
    65%{transform: translateY(-50px)}
    100%{transform: translateY(-10px)}
    }
