a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

a.social:hover {
  transform: translateY(-5px);
}

a.youtube {
    color: #eb3223;
  }

  a.facebook {
    color: #4968ad;
  }

  a.twitter {
    color: #49a1eb;
  }

  a.instagram {
    color: black;
  }

  .Card{
    background-color: white;
    transition: 0.4s;
  }

  .Card:hover{

    background-color: #FF6F00;
    opacity: 0.85;
    color: white;
    animation: popUp 0.3s linear;
    animation-fill-mode: forwards;
}

  @keyframes popUp {
    0%{}
    60%{transform: translateY(-30px);}
    80%{transform: translateY(-5px);}
    100%{transform: translateY(-15px);}
  }
