.custom-shape-divider-bottom-1617122970 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    padding-top: 245px;
}

.custom-shape-divider-bottom-1617122970 svg {
    position: relative;
    display: block;
    width: calc(189% + 1.3px);
    height: 323px;
}

.custom-shape-divider-bottom-1617122970 .shape-fill {
    fill: #1FC1E9;
}
.overall{
    margin-top: -180px;
}
